* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #808080;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden !important;
    font-display: auto;
    font-weight: 400;
}

html,
body {
    margin: 0;
    padding: 0;
    max-width: 1400px;
    text-align: justify !important;
    margin: 0 auto;
}

body m {
    text-align: justify !important;
}

*:focus,
*:active {
    outline: none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: #666;
}

a.block {
    display: block;
}

img {
    border: 0;
}

p {
    margin: 15px 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 15px 20px;
}

li {
    margin-bottom: 3px;
    padding: 0;
}

.z0 {
    z-index: 0;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.z5 {
    z-index: 5;
}

.z6 {
    z-index: 6;
}

.z7 {
    z-index: 7;
}

.z8 {
    z-index: 8;
}

.z9 {
    z-index: 9;
}

.z10 {
    z-index: 10;
}

hr {
    margin: 10px 0;
    color: #666;
    border-style: solid;
}

.h0,
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1 {
    position: relative;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
    text-align: left !important;
    line-height: 1.1;
}

h2 {
    position: relative;
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 38px;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 32px;
    }
}

.ui-datepicker-trigger {
    display: none;
}

.ca,
.ca5,
.ca10,
.ca20,
.ca30,
.ca40,
.ca50,
.ca60,
.ca70 {
    position: relative;
    clear: both;
    width: 100%;
}

.ca5 {
    height: 5px;
}

.ca10 {
    height: 10px;
}

.ca20 {
    height: 20px;
}

.ca30 {
    height: 30px;
}

.ca40 {
    height: 40px;
}

.ca50 {
    height: 50px;
}

.ca60 {
    height: 60px;
}

.ca70 {
    height: 70px;
}

.h100 {
    min-height: 100px !important;
}

.h150 {
    min-height: 150px !important;
}

.h200 {
    min-height: 200px !important;
}

.h250 {
    min-height: 250px !important;
}

.h300 {
    min-height: 300px !important;
}

.h350 {
    min-height: 350px !important;
}

.h400 {
    min-height: 400px !important;
}

.h450 {
    min-height: 450px !important;
}

.h500 {
    min-height: 500px !important;
}

.h550 {
    min-height: 550px !important;
}

.h600 {
    min-height: 600px !important;
}

.t10 {
    font-size: 10px;
}

.t11 {
    font-size: 11px;
}

.t12 {
    font-size: 12px;
}

.t13 {
    font-size: 13px;
}

.t14 {
    font-size: 14px;
}

.t15 {
    font-size: 15px;
}

.t16 {
    font-size: 16px;
}

.t18 {
    font-size: 18px;
}

.t20 {
    font-size: 20px;
}

.t22 {
    font-size: 22px;
}

.t23 {
    font-size: 23px;
}

.t24 {
    font-size: 24px;
}

.t25 {
    font-size: 25px;
}

.t30 {
    font-size: 30px;
}

.t35 {
    font-size: 35px;
}

.t40 {
    font-size: 40px !important;
}

.t45 {
    font-size: 45px;
}

.t50 {
    font-size: 50px;
}

.t60 {
    font-size: 60px;
}

.t70 {
    font-size: 70px;
}

.tp70 {
    font-size: 70%;
}

.tp80 {
    font-size: 80%;
}

.tp90 {
    font-size: 90%;
}

.tp110 {
    font-size: 110%;
}

.tp120 {
    font-size: 120%;
}

.tp130 {
    font-size: 130%;
}

@media screen and (max-width: 1200px) {
    .tl10 {
        font-size: 10px;
    }
    .tl11 {
        font-size: 11px;
    }
    .tl12 {
        font-size: 12px;
    }
    .tl13 {
        font-size: 13px;
    }
    .tl14 {
        font-size: 14px;
    }
    .tl15 {
        font-size: 15px;
    }
    .tl16 {
        font-size: 16px;
    }
    .tl18 {
        font-size: 18px;
    }
    .tl20 {
        font-size: 20px;
    }
    .tl22 {
        font-size: 22px;
    }
    .tl23 {
        font-size: 23px;
    }
    .tl24 {
        font-size: 24px;
    }
    .tl25 {
        font-size: 25px;
    }
    .tl30 {
        font-size: 30px;
    }
    .tl35 {
        font-size: 35px;
    }
    .tl40 {
        font-size: 40px;
    }
    .tl45 {
        font-size: 45px;
    }
    .tl50 {
        font-size: 50px;
    }
    .tl60 {
        font-size: 60px;
    }
    .tl70 {
        font-size: 70px;
    }
}

@media screen and (max-width: 992px) {
    .tm10 {
        font-size: 10px;
    }
    .tm11 {
        font-size: 11px;
    }
    .tm12 {
        font-size: 12px;
    }
    .tm13 {
        font-size: 13px;
    }
    .tm14 {
        font-size: 14px;
    }
    .tm15 {
        font-size: 15px;
    }
    .tm16 {
        font-size: 16px;
    }
    .tm18 {
        font-size: 18px;
    }
    .tm20 {
        font-size: 20px;
    }
    .tm22 {
        font-size: 22px;
    }
    .tm23 {
        font-size: 23px;
    }
    .tm24 {
        font-size: 24px;
    }
    .tm25 {
        font-size: 25px;
    }
    .tm30 {
        font-size: 30px;
    }
    .tm35 {
        font-size: 35px;
    }
    .tm40 {
        font-size: 40px;
    }
    .tm45 {
        font-size: 45px;
    }
    .tm50 {
        font-size: 50px;
    }
    .tm60 {
        font-size: 60px;
    }
    .tm70 {
        font-size: 70px;
    }
}

@media screen and (max-width: 768px) {
    .ts10 {
        font-size: 10px;
    }
    .ts11 {
        font-size: 11px;
    }
    .ts12 {
        font-size: 12px;
    }
    .ts13 {
        font-size: 13px;
    }
    .ts14 {
        font-size: 14px;
    }
    .ts15 {
        font-size: 15px;
    }
    .ts16 {
        font-size: 16px;
    }
    .ts18 {
        font-size: 18px;
    }
    .ts20 {
        font-size: 20px;
    }
    .ts22 {
        font-size: 22px;
    }
    .ts23 {
        font-size: 23px;
    }
    .ts24 {
        font-size: 24px;
    }
    .ts25 {
        font-size: 25px;
    }
    .ts30 {
        font-size: 30px;
    }
    .ts35 {
        font-size: 35px;
    }
    .ts40 {
        font-size: 40px;
    }
    .ts45 {
        font-size: 45px;
    }
    .ts50 {
        font-size: 50px;
    }
    .ts60 {
        font-size: 60px;
    }
    .ts70 {
        font-size: 70px;
    }
}

@media screen and (max-width: 576px) {
    .txs10 {
        font-size: 10px;
    }
    .txs11 {
        font-size: 11px;
    }
    .txs12 {
        font-size: 12px;
    }
    .txs13 {
        font-size: 13px;
    }
    .txs14 {
        font-size: 14px;
    }
    .txs15 {
        font-size: 15px;
    }
    .txs16 {
        font-size: 16px;
    }
    .txs18 {
        font-size: 18px;
    }
    .txs20 {
        font-size: 20px;
    }
    .txs22 {
        font-size: 22px;
    }
    .txs23 {
        font-size: 23px;
    }
    .txs24 {
        font-size: 24px;
    }
    .txs25 {
        font-size: 25px;
    }
    .txs30 {
        font-size: 30px;
    }
    .txs35 {
        font-size: 35px;
    }
    .txs40 {
        font-size: 40px;
    }
    .txs45 {
        font-size: 45px;
    }
    .txs50 {
        font-size: 50px;
    }
    .txs60 {
        font-size: 60px;
    }
    .txs70 {
        font-size: 70px;
    }
}

.w100 {
    font-weight: 100;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w700 {
    font-weight: 700;
}

.w900 {
    font-weight: 900;
}

.twhite,
.twhite a:link,
.twhite a:active,
.twhite a:visited {
    text-decoration: none;
    color: #fff;
}

.twhite a:hover {
    color: #fff;
}

.tblack,
.tblack a:link,
.tblack a:active,
.tblack a:visited {
    text-decoration: none;
    color: #000;
}

.tblack a:hover {
    color: #333;
}

.tu {
    text-transform: uppercase;
}

.tcolor,
.tcolor a:link,
.tcolor a:active,
.tcolor a:visited,
.tcolor a:hover {
    color: #c20808;
}

.bcolor {
    background-color: #c20808;
}

.bcolorwhite {
    background-color: #FFF;
}

.bcolorblack {
    background-color: #000
}

.border {
    border-style: dotted;
    border-color: #999;
    border-width: 0px;
}

.tlh1 {
    line-height: 1;
}

.tlh15 {
    line-height: 1.5;
}

.tls-1 {
    letter-spacing: -1pt;
}

.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}

.tj {
    text-align: justify;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.alignw {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
}

.alignh {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.barrato {
    text-decoration: line-through;
}

.tshadoww {
    text-shadow: 0 0 10px #fff;
}

.tshadowb {
    text-shadow: 0 0 10px #000;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.scrolloff {
    pointer-events: none;
}

.del1 {
    -webkit-transition-delay: .1s !important;
    transition-delay: .1s !important;
}

.del2 {
    -webkit-transition-delay: .2s !important;
    transition-delay: .2s !important;
}

.del3 {
    -webkit-transition-delay: .3s !important;
    transition-delay: .3s !important;
}

.del4 {
    -webkit-transition-delay: .4s !important;
    transition-delay: .4s !important;
}

.del5 {
    -webkit-transition-delay: .5s !important;
    transition-delay: .5s !important;
}

.del6 {
    -webkit-transition-delay: .6s !important;
    transition-delay: .6s !important;
}

.del7 {
    -webkit-transition-delay: .7s !important;
    transition-delay: .7s !important;
}

.del8 {
    -webkit-transition-delay: .8s !important;
    transition-delay: .8s !important;
}

.del9 {
    -webkit-transition-delay: .9s !important;
    transition-delay: .9s !important;
}

.del10 {
    -webkit-transition-delay: 1s !important;
    transition-delay: 1s !important;
}

.del11 {
    -webkit-transition-delay: 1.1s !important;
    transition-delay: 1.1s !important;
}

.del12 {
    -webkit-transition-delay: 1.2s !important;
    transition-delay: 1.2s !important;
}

.del13 {
    -webkit-transition-delay: 1.3s !important;
    transition-delay: 1.3s !important;
}

.del14 {
    -webkit-transition-delay: 1.4s !important;
    transition-delay: 1.4s !important;
}

.del15 {
    -webkit-transition-delay: 1.5s !important;
    transition-delay: 1.5s !important;
}

.del16 {
    -webkit-transition-delay: 1.6s !important;
    transition-delay: 1.6s !important;
}

.del17 {
    -webkit-transition-delay: 1.7s !important;
    transition-delay: 1.7s !important;
}

.del18 {
    -webkit-transition-delay: 1.8s !important;
    transition-delay: 1.8s !important;
}

.del19 {
    -webkit-transition-delay: 1.9s !important;
    transition-delay: 1.9s !important;
}

.del20 {
    -webkit-transition-delay: 2s !important;
    transition-delay: 2s !important;
}

.del30 {
    -webkit-transition-delay: 3s !important;
    transition-delay: 3s !important;
}

.del40 {
    -webkit-transition-delay: 4s !important;
    transition-delay: 4s !important;
}

#boxsent {
    display: none;
}


/****************************************************IN POINT**/

#zero {
    position: relative;
    clear: both;
    width: 100%;
    height: 0;
}

#start {
    position: relative;
    clear: both;
    width: 100%;
    height: 0;
}

#gostart {
    position: absolute;
    z-index: 1001;
    /* left: 50%; */
    /* margin-left: 40px; */
    width: 80px;
    height: 80px;
    cursor: pointer;
    bottom: 30px;
    -webkit-animation: pulsatilla .7s ease-out infinite alternate running;
    animation: pulsatilla .7s ease-out infinite alternate running;
    background-image: url(/img/mousew.png);
    background-repeat: no-repeat;
    background-position: center center;
    right: 50%;
    margin-right: -40px;
}

#gostart:hover {
    opacity: 1;
}

#gozero {
    position: fixed;
    z-index: 10000;
    right: -6px;
    bottom: -100px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-image: url(/img/mouse2w.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

#gozero2 {
    position: fixed;
    z-index: 10000;
    right: -6px;
    bottom: -100px;
    width: 80px;
    height: 80px;
    cursor: pointer;
    -webkit-animation: gopuls .7s ease-out infinite alternate running;
    animation: gopuls .7s ease-out infinite alternate running;
    background-image: url(/img/mouse2b.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}

@keyframes gopuls {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes gopuls {
    0% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 992px) {
    #gozero {
        display: none;
    }
}


/*************** GRID *************************/

.middle {
    position: relative;
    clear: both;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}

.m {
    position: relative;
    float: left;
}

.m-x-0 {
    overflow: hidden !important;
    width: 0;
    display: none;
}

.m-x-1 {
    width: 8.3333333333%;
    display: block;
}

.m-x-2 {
    width: 16.666666667%;
    display: block;
}

.m-x-3 {
    width: 25%;
    display: block;
}

.m-x-4 {
    width: 33.33333333%;
    display: block;
}

.m-x-5 {
    width: 41.66666667%;
    display: block;
}

.m-x-6 {
    width: 50%;
    display: block;
}

.m-x-7 {
    width: 58.33333333%;
    display: block;
}

.m-x-8 {
    width: 66.66666667%;
    display: block;
}

.m-x-9 {
    width: 75%;
    display: block;
}

.m-x-10 {
    width: 83.33333333%;
    display: block;
}

.m-x-11 {
    width: 91.66666667%;
    display: block;
}

.m-x-12 {
    width: 100%;
    display: block;
}

.m-x-ha {
    height: auto !important;
    min-height: 0 !important;
}

.m-x-tl {
    text-align: left;
}

.m-x-tr {
    text-align: right;
}

.m-x-tc {
    text-align: center;
}

.m-x-tj {
    text-align: justify;
}

.m-x-h10 {
    height: 10px !important;
}

.m-x-h20 {
    height: 20px !important;
}

.m-x-h30 {
    height: 30px !important;
}

.m-x-h60 {
    height: 60px !important;
}

.m-x-h100 {
    height: 100px !important;
}

.m-x-h200 {
    height: 200px !important;
}

.m-x-h300 {
    height: 300px !important;
}

.m-x-h400 {
    height: 400px !important;
}

.m-x-h500 {
    height: 500px !important;
}

.m-x-h600 {
    height: auto !important;
    min-height: 600px !important;
}

.m-x-h800 {
    height: auto !important;
    min-height: 800px !important;
}

.m-x-h900 {
    height: auto !important;
    min-height: 900px !important;
}

.m-x-bl {
    border-left-width: 1px;
}

.m-x-br {
    border-right-width: 1px;
}

.m-x-bb {
    border-bottom-width: 1px;
}

.m-x-bt {
    border-top-width: 1px;
}

.m-x-nb {
    border: none !important;
}

.box,
.box2,
.box3,
.box4,
.box5,
.box0 {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 100px;
    -webkit-transition: background .4s ease;
    transition: background .4s ease;
}

.box2 {
    padding: 80px;
}

.box3 {
    padding: 60px;
}

.box4 {
    padding: 40px;
}

.box5 {
    padding: 20px;
}

.box0 {
    padding: 0;
}

.col3,
.col2 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    -webkit-column-rule: 1px solid #ededed;
    -moz-column-rule: 1px solid #ededed;
    column-rule: 1px solid #ededed;
}

.col2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

@media screen and (max-width: 1500px) {
    .box {
        padding: 100px;
    }
    .box2 {
        padding: 80px;
    }
    .box3 {
        padding: 60px;
    }
    .box4 {
        padding: 40px;
    }
    .box5 {
        padding: 20px;
    }
    .box0 {
        padding: 0;
    }
}

@media screen and (max-width: 1200px) {
    .box {
        padding: 80px;
    }
    .box2 {
        padding: 70px;
    }
    .box3 {
        padding: 60px;
    }
    .box4 {
        padding: 40px;
    }
    .box5 {
        padding: 20px;
    }
    .box0 {
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    .box {
        padding: 70px;
    }
    .box2 {
        padding: 60px;
    }
    .box3 {
        padding: 50px;
    }
    .box4 {
        padding: 40px;
    }
    .box5 {
        padding: 20px;
    }
    .box0 {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .box {
        padding: 60px;
    }
    .box2 {
        padding: 50px;
    }
    .box3 {
        padding: 40px;
    }
    .box4 {
        padding: 30px;
    }
    .box5 {
        padding: 20px;
    }
    .box0 {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .box,
    .box2,
    .box3,
    .box4,
    .box5 {
        padding: 25px 20px;
    }
    .box0 {
        padding: 0;
    }
}


/***************************** MEDIA ***************************/

@media screen and (max-width: 1500px) {
    .m-xl-0 {
        display: none !important;
        overflow: hidden !important;
        width: 0;
    }
    .m-xl-1 {
        width: 8.3333333333%;
        display: block;
    }
    .m-xl-2 {
        width: 16.666666667%;
        display: block;
    }
    .m-xl-3 {
        width: 25%;
        display: block;
    }
    .m-xl-4 {
        width: 33.33333333%;
        display: block;
    }
    .m-xl-5 {
        width: 41.66666667%;
        display: block;
    }
    .m-xl-6 {
        width: 50%;
        display: block;
    }
    .m-xl-7 {
        width: 58.33333333%;
        display: block;
    }
    .m-xl-8 {
        width: 66.66666667%;
        display: block;
    }
    .m-xl-9 {
        width: 75%;
        display: block;
    }
    .m-xl-10 {
        width: 83.33333333%;
        display: block;
    }
    .m-xl-11 {
        width: 91.66666667%;
        display: block;
    }
    .m-xl-12 {
        width: 100%;
        display: block;
    }
    .m-xl-ha {
        height: auto !important;
        min-height: 0 !important;
    }
    .m-xl-tl,
    .m-xl-tl p {
        text-align: left !important;
    }
    .m-xl-tr,
    .m-xl-tr p {
        text-align: right !important;
    }
    .m-xl-tc,
    .m-xl-tc p {
        text-align: center !important;
    }
    .m-xl-tj,
    .m-xl-tj p {
        text-align: justify !important;
    }
    .m-xl-h100 {
        height: 100px !important;
        min-height: 0 !important;
    }
    .m-xl-h200 {
        height: 200px !important;
        min-height: 0 !important;
    }
    .m-xl-h300 {
        height: 300px !important;
        min-height: 0 !important;
    }
    .m-xl-h400 {
        height: 400px !important;
        min-height: 0 !important;
    }
    .m-xl-h500 {
        height: 500px !important;
        min-height: 0 !important;
    }
    .m-xl-h600 {
        height: 600px !important;
        min-height: 0 !important;
    }
    .m-xl-nb {
        border: none !important;
    }
    .m-xl-bl {
        border-width: 0px !important;
        border-left-width: 1px !important;
    }
    .m-xl-br {
        border-width: 0px !important;
        border-right-width: 1px !important;
    }
    .m-xl-bb {
        border-width: 0px !important;
        border-bottom-width: 1px !important;
    }
    .m-xl-bt {
        border-width: 0px !important;
        border-top-width: 1px !important;
    }
    .col3 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .m-xl-noalign {
        top: auto !important;
        left: auto !important;
        transform: translate(0, 0) !important;
    }
}

@media screen and (max-width: 1200px) {
    #gostart {
        right: 50px;
    }
    .m-l-0 {
        display: none !important;
        overflow: hidden !important;
        width: 0;
    }
    .m-l-1 {
        width: 8.3333333333%;
        display: block;
    }
    .m-l-2 {
        width: 16.666666667%;
        display: block;
    }
    .m-l-3 {
        width: 25%;
        display: block;
    }
    .m-l-4 {
        width: 33.33333333%;
        display: block;
    }
    .m-l-5 {
        width: 41.66666667%;
        display: block;
    }
    .m-l-6 {
        width: 50%;
        display: block;
    }
    .m-l-7 {
        width: 58.33333333%;
        display: block;
    }
    .m-l-8 {
        width: 66.66666667%;
        display: block;
    }
    .m-l-9 {
        width: 75%;
        display: block;
    }
    .m-l-10 {
        width: 83.33333333%;
        display: block;
    }
    .m-l-11 {
        width: 91.66666667%;
        display: block;
    }
    .m-l-12 {
        width: 100%;
        display: block;
    }
    .m-l-ha {
        height: auto !important;
        min-height: 0 !important;
    }
    .m-l-tl {
        text-align: left;
    }
    .m-l-tr {
        text-align: right;
    }
    .m-l-tc {
        text-align: center;
    }
    .m-l-tj {
        text-align: justify;
    }
    .m-l-h100 {
        height: 100px !important;
        min-height: 0 !important;
    }
    .m-l-h200 {
        height: 200px !important;
        min-height: 0 !important;
    }
    .m-l-h300 {
        height: 300px !important;
        min-height: 0 !important;
    }
    .m-l-h400 {
        height: 400px !important;
        min-height: 0 !important;
    }
    .m-l-h500 {
        height: 500px !important;
        min-height: 0 !important;
    }
    .m-l-h600 {
        height: 600px !important;
        min-height: 0 !important;
    }
    .m-l-nb {
        border: none !important;
    }
    .m-l-bl {
        border-width: 0px !important;
        border-left-width: 1px !important;
    }
    .m-l-br {
        border-width: 0px !important;
        border-right-width: 1px !important;
    }
    .m-l-bb {
        border-width: 0px !important;
        border-bottom-width: 1px !important;
    }
    .m-l-bt {
        border-width: 0px !important;
        border-top-width: 1px !important;
    }
    .col3 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .m-l-noalign {
        top: auto !important;
        left: auto !important;
        transform: translate(0, 0) !important;
    }
}

@media screen and (max-width: 992px) {
    #gostart {
        right: 50%;
    }
    .ulrev {
        margin: 0;
        padding: 15px 0;
        padding-left: 20px;
        list-style-type: disc;
        text-align: left;
    }
    .ulrev li {
        padding-right: 0;
        background-image: none;
    }
    .plx {
        display: none;
        margin: 20px 0;
    }
    .m-m-0 {
        display: none !important;
        overflow: hidden !important;
        width: 0;
    }
    .m-m-1 {
        width: 8.3333333333%;
        display: block !important;
    }
    .m-m-2 {
        width: 16.666666667%;
        display: block !important;
    }
    .m-m-3 {
        width: 25%;
        display: block !important;
    }
    .m-m-4 {
        width: 33.33333333%;
        display: block !important;
    }
    .m-m-5 {
        width: 41.66666667%;
        display: block !important;
    }
    .m-m-6 {
        width: 50%;
        display: block !important;
    }
    .m-m-7 {
        width: 58.33333333%;
        display: block !important;
    }
    .m-m-8 {
        width: 66.66666667%;
        display: block !important;
    }
    .m-m-9 {
        width: 75%;
        display: block !important;
    }
    .m-m-10 {
        width: 83.33333333%;
        display: block !important;
    }
    .m-m-11 {
        width: 91.66666667%;
        display: block !important;
    }
    .m-m-12 {
        width: 100%;
        display: block !important;
    }
    .m-m-ha {
        height: auto !important;
        min-height: 0 !important;
    }
    .m-m-boxg .box {
        color: #fff;
        background: rgba(0, 0, 0, .4);
    }
    .m-m-tl {
        text-align: left;
    }
    .m-m-tr {
        text-align: right;
    }
    .m-m-tc {
        text-align: center;
    }
    .m-m-tj {
        text-align: justify;
    }
    .m-m-h50 {
        height: 50px !important;
        min-height: 0 !important;
    }
    .m-m-h100 {
        height: 100px !important;
        min-height: 0 !important;
    }
    .m-m-h200 {
        height: 200px !important;
        min-height: 0 !important;
    }
    .m-m-h300 {
        height: 300px !important;
        min-height: 0 !important;
    }
    .m-m-h400 {
        height: 400px !important;
        min-height: 0 !important;
    }
    .m-m-h500 {
        height: 500px !important;
        min-height: 0 !important;
    }
    .m-m-h600 {
        height: 600px !important;
        min-height: 0 !important;
    }
    .m-m-nb {
        border: none !important;
    }
    .m-m-bl {
        border-width: 0px !important;
        border-left-width: 1px !important;
    }
    .m-m-br {
        border-width: 0px !important;
        border-right-width: 1px !important;
    }
    .m-m-bb {
        border-width: 0px !important;
        border-bottom-width: 1px !important;
    }
    .m-m-bt {
        border-width: 0px !important;
        border-top-width: 1px !important;
    }
    .FGcat-titolo {
        font-size: 18px;
    }
    .m-m-noalign {
        top: auto !important;
        left: auto !important;
        transform: translate(0, 0) !important;
    }
}

@media screen and (max-width: 768px) {
    #imgslider {
        margin-top: 0 !important;
    }
    .m-s-0 {
        display: none !important;
        overflow: hidden !important;
        width: 0;
    }
    .m-s-1 {
        width: 8.3333333333%;
        display: block !important;
    }
    .m-s-2 {
        width: 16.666666667%;
        display: block !important;
    }
    .m-s-3 {
        width: 25%;
        display: block !important;
    }
    .m-s-4 {
        width: 33.33333333%;
        display: block !important;
    }
    .m-s-5 {
        width: 41.66666667%;
        display: block !important;
    }
    .m-s-6 {
        width: 50%;
        display: block !important;
    }
    .m-s-7 {
        width: 58.33333333%;
        display: block !important;
    }
    .m-s-8 {
        width: 66.66666667%;
        display: block !important;
    }
    .m-s-9 {
        width: 75%;
        display: block !important;
    }
    .m-s-10 {
        width: 83.33333333%;
        display: block !important;
    }
    .m-s-11 {
        width: 91.66666667%;
        display: block !important;
    }
    .m-s-12 {
        width: 100%;
        display: block !important;
    }
    .m-s-ha {
        height: auto !important;
        min-height: 0 !important;
    }
    .m-s-tl {
        text-align: left;
    }
    .m-s-tr {
        text-align: right;
    }
    .m-s-tc {
        text-align: center;
    }
    .m-s-tj {
        text-align: justify;
    }
    .m-s-h100 {
        height: 100px !important;
        min-height: 0 !important;
    }
    .m-s-h200 {
        height: 200px !important;
        min-height: 0 !important;
    }
    .m-s-h300 {
        height: 300px !important;
        min-height: 0 !important;
    }
    .m-s-h400 {
        height: 400px !important;
        min-height: 0 !important;
    }
    .m-s-h500 {
        height: 500px !important;
        min-height: 0 !important;
    }
    .m-s-h600 {
        height: 600px !important;
        min-height: 0 !important;
    }
    .m-s-nb {
        border: none !important;
    }
    .m-s-bl {
        border-width: 0px !important;
        border-left-width: 1px !important;
    }
    .m-s-br {
        border-width: 0px !important;
        border-right-width: 1px !important;
    }
    .m-s-bb {
        border-width: 0px !important;
        border-bottom-width: 1px !important;
    }
    .m-s-bt {
        border-width: 0px !important;
        border-top-width: 1px !important;
    }
    .col3,
    .col2 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    #SLOGAN {
        font-size: 30px;
    }
    .FGcat-titolo {
        font-size: 18px;
    }
    .m-s-noalign {
        top: auto !important;
        left: auto !important;
        transform: translate(0, 0) !important;
    }
}

@media screen and (max-width: 576px) {
    #imgslider {
        height: 500px;
        margin-top: 50px !important;
    }
    #gostart {
        bottom: 95px;
    }
    .m-xs-0 {
        display: none !important;
        overflow: hidden !important;
        width: 0;
    }
    .m-xs-1 {
        width: 8.3333333333%;
        display: block !important
    }
    .m-xs-2 {
        width: 16.666666667%;
        display: block !important
    }
    .m-xs-3 {
        width: 25%;
        display: block !important
    }
    .m-xs-4 {
        width: 33.33333333%;
        display: block !important
    }
    .m-xs-5 {
        width: 41.66666667%;
        display: block !important
    }
    .m-xs-6 {
        width: 50%;
        display: block !important
    }
    .m-xs-7 {
        width: 58.33333333%;
        display: block !important
    }
    .m-xs-8 {
        width: 66.66666667%;
        display: block !important
    }
    .m-xs-9 {
        width: 75%;
        display: block !important
    }
    .m-xs-10 {
        width: 83.33333333%;
        display: block !important
    }
    .m-xs-11 {
        width: 91.66666667%;
        display: block !important
    }
    .m-xs-12 {
        width: 100%;
        display: block !important
    }
    .m-xs-ha {
        height: auto !important;
        min-height: 0 !important;
    }
    .m-xs-tl {
        text-align: left;
    }
    .m-xs-tr {
        text-align: right;
    }
    .m-xs-tc {
        text-align: center;
    }
    .m-xs-tj {
        text-align: justify;
    }
    .m-xs-h100 {
        height: 100px !important;
        min-height: 0 !important;
    }
    .m-xs-h200 {
        height: 200px !important;
        min-height: 0 !important;
    }
    .m-xs-h300 {
        height: 300px !important;
        min-height: 0 !important;
    }
    .m-xs-h400 {
        height: 400px !important;
        min-height: 0 !important;
    }
    .m-xs-h500 {
        height: 500px !important;
        min-height: 0 !important;
    }
    .m-xs-h600 {
        height: 600px !important;
        min-height: 0 !important;
    }
    .m-xs-nb {
        border: none !important;
    }
    .m-xs-bl {
        border-width: 0px !important;
        border-left-width: 1px !important;
    }
    .m-xs-br {
        border-width: 0px !important;
        border-right-width: 1px !important;
    }
    .m-xs-bb {
        border-width: 0px !important;
        border-bottom-width: 1px !important;
    }
    .m-xs-bt {
        border-width: 0px !important;
        border-top-width: 1px !important;
    }
    #SLOGAN {
        font-size: 20px;
    }
    .m-xs-noalign {
        top: auto !important;
        left: auto !important;
        transform: translate(0, 0) !important;
    }
}

.ACpulsante {
    position: relative;
    border: 1px solid;
    padding: 20px 30px;
    margin-top: 20px;
    clear: both;
    box-sizing: border-box;
    display: inline-block;
    width: auto;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    transition: all .6s ease;
    border-radius: 2px;
}

.ACpulsante:hover {
    color: #FFF;
    background-color: #535353;
    transition: all .2s ease;
}

body a img {
    width: 100%;
    max-width: 400px;
}


/*******************************************/